Requirements:

1.install python 
2.creating a virtual environment
to activate virtual environment-
	E:\DjangoPro>cd env
 	E:\DjangoPro\env>cd Scripts
	E:\DjangoPro\env\Scripts>activate
	(env) E:\DjangoPro\env\Scripts>cd..
	(env) E:\DjangoPro\env>cd..
	(env) E:\DjangoPro\env>

3.install django
4.Creating a django project
	(env) E:\DjangoPro>django-admin startproject trainee_mgt_stm
5.Initialising a django app
	(env) E:\DjangoPro\trainee_mgt_stm>python manage.py startapp trainee
	to start the VScode-
	(env) E:\DjangoPro\trainee_mgt_stm>code .
6.Running the developement server
	(env) E:\DjangoPro\trainee_mgt_stm>python manage.py runserver
	--> Starting development server at http://127.0.0.1:8000/
7.Running migrations
	python manage.py makemigrations
	python manage.py migrate
8. Creating a superuser
	python manage.py migrate
	Username: trainee
	email: trainee@gmail.com
	password: 1234riya


	

	


